.student-details {
  display: grid;
  place-items: center;
  margin-left: 30%;
  margin-top: 10%;
  padding-top: 20px;
  width: 100%;
  max-width: 500px;
  border-radius: 9px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #e3f2fd;
  position: relative;
}
.details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.details label {
  font-weight: bold;
}

.details-item {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.details-item button {
  border-radius: 10px;
  background-color: #e3f2fd;
  border: none;
  padding: 10px;
  gap: 20px;
  font-size: 15px;
  margin-bottom: 10px;
  cursor: pointer;
}
.details-item button:hover {
  text-decoration: underline;
}
